<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="dashboard-bg">
<div class="dashboard-card">

<form action="/predict" method="post">

<input type="number" name="rainfall" placeholder="Rainfall">
<input type="number" name="temperature" placeholder="Temperature">
<input type="number" name="humidity" placeholder="Humidity">
<input type="number" name="soil" placeholder="Soil Moisture">
<input type="number" name="wind" placeholder="Wind Speed">

<button>Predict</button>

</form>

</div>
</body>
</html>